/* 대시보드 */
.dashboard {
    margin-top: 2rem;
}

.dashboard h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.dashboard .profile-info, .dashboard .my-posts, .dashboard .my-challenges {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.dashboard .profile-info h3, .dashboard .my-posts h3, .dashboard .my-challenges h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

/* 프로필 편집 스타일 */
.profile-edit-form .form-control {
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.profile-edit-form .btn {
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}
